# Ignore .conda directory
.conda/

# Ignore GeneMANIA.jar file
GeneMANIA.jar

# Ignore Alphapulldown_TestRun/ directory
Alphapulldown_TestRun/

# Ignore foldseek directory
foldseek/

# Ignore arabidopsis directory
arabidopsis/

# Ignore alphafold_pdbs directory
alphafold_pdbs/

# Large output files
python_scripts/bioinformatics/protein_global_alignment/graph_output_mwp.csv

# Ignore example jobs directory
example_jobs/

# Ignore pycache data directory and files
__pycache__/
*.pyc

# Ignore node_modules directory
node_modules/

# Ignore mibig_validate directory
mibig_validate/